@model IEnumerable<DIYVCV.Models.ModuleDto>

<h2>List of Modules</h2>

<div class="navbar">
    <a class="navlink" href="/Module/Create">Create Module</a>
</div>

<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.ModuleId)
        </th>
        <th>
            Image
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ModuleName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ModuleBrand)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ModuleCategory)
        </th>
    </tr>



    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.ModuleId)
            </td>
            <td>
                @{ 
                    string pic = "/Content/modules/default.png";
                    string alt = "No Picture Was Provided.";
                    if (item.ModuleHasPic)
                    {
                        pic = "/Content/Modules/" + item.ModuleId + "." + item.PicExtension;
                        alt = "Profile shot of " + item.ModuleName;
                    }
                }

                <div class="imagecontainer featured">
                    <img src="@pic" height=100px />
                </div>
            </td>
            <td>
                <a href="/Module/Show/@item.ModuleId"> @Html.DisplayFor(modelItem => item.ModuleName)</a>
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ModuleBrand)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ModuleCategory)
            </td>
        </tr>
    }

</table>